body
{
background-color:beige;
}
header
{
    background-color:sienna;
}
nav ul
{
list-style-type:circle;
margin:0px;
padding:16px;
}
li
{
float:left;
}
li a
{
display:block;
color:palevioletred;
text-align:center;
padding:16px;
}
h1
{
color:palevioletred;
}
h4
{
width:50%;
color:palevioletred;
text-align:center;
}