body
{
background-color:beige;
}
header
{
    background-color:sienna;
}
nav ul
{
list-style-type:circle;
margin:0px;
padding:16px;
}
li
{
float:left;
}
li a
{
display:block;
color:mediumvioletred;
text-align:center;
padding:16px;
}
h4
{
width:50%;
color:mediumvioletred;
font-family:'Times New Roman', Times, serif;
text-align:center;
}