body
{
background-color:pink;
}
header
{
    background-color:hotpink;
}
nav ul
{
list-style-type:circle;
margin:0px;
padding:16px;
}
li
{
float:left;
}
li a
{
display:block;
color:hotpink;
text-align:center;
padding:16px;
}
h1
{
color:hotpink;
}
h4
{
width:50%;
color:hotpink;
text-align:center;
}
#vivlogo
{
float:right;
width:45%;
height:auto;
position:relative; 
top:-200px;
}
